  
body{
  background-color: rgb(183, 252, 194);
}

h1, h2, h3, ul, #createBurger{
  text-align: center;
  color: rgb(1, 32, 119);
}

header{
  align-content: center;
  text-align: center;
}
#newBurger{
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(0, 191, 255);
}

#burgerList{
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 15px;
}